<!doctype html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv=Cache-Control content=no-cache />   <!---重新加载页面  禁止缓存作用  --!>
    <title>根据地铁线号查询该线所有站</title>
</head>
<body>
<table border="1" align="center" style="border-color: black;border-style:hidden">
    <tr>
        <th>线路</th>
        <th>站点</th>
    </tr>
    <tr th:each="tempLine:${line}">
        <td th:text="${tempLine.getLineId()}"></td>
        <td th:each="${tempLine.getStations()}"></td>
    </tr>
</table>
</body>
</html>